{% extends "base.html" %}

{% block title %}Blog - The 'I' Paradox{% endblock %}

{% block content %}
    <div class="container">
        <h1>ARTICLES</h1>
        <div class="my-articles">
            <ul>
                <li><a href="https://theiparadox.wordpress.com/2025/06/29/problem-based-learning/" target="_blank">Problem-Based Learning</a></li>
                <li><a href="https://theiparadox.wordpress.com/2025/06/28/funny-how-brain-works/" target="_blank">Funny How Brain Works!</a></li>
                <li><a href="https://theiparadox.wordpress.com/2025/07/02/problem-based-learning-part-2/" target="_blank">Problem-Based Learning Part 2</a></li>
            </ul>
        </div>
    </div>
{% endblock %}