{% extends "base.html" %}

{% block title %}Questions - The 'I' Paradox{% endblock %}

{% block content %}
  <div class="questions-page" style="margin-left: 20px;">
    <h1>Questions</h1>
    <p style="margin-top: -10px;">Existence is the answer, What is the question?</p>

    <h2>The Biggest</h2>
    <ul>
      <li>What is Physics?</li>
      <!-- Add more questions here -->
    </ul>

    <h2>Mind</h2>
    <ul>
      <li>What exactly is there behind my eyes?</li>
      <!-- Add more questions here -->
    </ul>

    <h2>Nature</h2>
    <ul>
      <li>Why did nature create us?</li>
      <!-- Add more questions here -->
    </ul>

    <h2>Universe</h2>
    <ul>
      <li>How much is out there?</li>
      <!-- Add more questions here -->
    </ul>

    <h2>Humans</h2>
    <ul>
      <li>Who are we without other humans?</li>
      <!-- Add more questions here -->
    </ul>

    <h2>Aliens</h2>
    <ul>
      <li>How many are out there?</li>
      <!-- Add more questions here -->
    </ul>

    <h2>Death</h2>
    <ul>
      <li>Should we be afraid or curious about it?</li>
      <!-- Add more questions here -->
    </ul>
  </div>
{% endblock %}
